# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform plugin directory
.terraform/

# Variable files
*.tfvars
*.tfvars.json

# Logs
*.log

# Other files
*.tmp

# Local workspace configuration files
.terraformrc
terraform.rc